In [4]:
import pandas

In [5]:
# df1 = pandas.read_csv("traffic.csv", header = None)
df1 = pandas.read_csv("traffic.csv")
df1
df3 = pandas.read_json("traffic.json")
df3
df2 = pandas.read_excel("traffic.xlsx")
df2 = df2.set_index("Date")
df2
df4 = pandas.read_csv("traffic-commas.txt")
df4
df5 = pandas.read_csv("traffic-semi-colons.txt", sep=";")
df5
df6 = pandas.read_csv("https://goo.gl/opfGg4")
df6
df7 = df6.loc[2:5, "Country":"Clicks"]
df7
df6.loc[:, "Country"]
df6.iloc[6:9, 3:5]

  Country  Clicks
6   India      37
7     USA      40
8     USA      52

In [7]:
df1

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday

In [8]:
df1.drop("Day", 1)

   Date  Visitors  BR    Country  Clicks
0     1      1500  20        USA      20
1     2       700  25         UK      35
2     3       900  15      India      37
3     4       400  35        USA      12
4     5       500  14     Canada      35
5     6       700  15      India      32
6     7       600  20      India      37
7     8       700  16        USA      40
8     9      1200  27        USA      52
9    10      1400  32  Australia      57

In [9]:
df9 = df1.drop(8, 0)
df9

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
9    10      1400  32  Australia      57   Thursday

In [10]:
df1.drop(df1.columns[5], 1)

   Date  Visitors  BR    Country  Clicks
0     1      1500  20        USA      20
1     2       700  25         UK      35
2     3       900  15      India      37
3     4       400  35        USA      12
4     5       500  14     Canada      35
5     6       700  15      India      32
6     7       600  20      India      37
7     8       700  16        USA      40
8     9      1200  27        USA      52
9    10      1400  32  Australia      57

In [11]:
df1.drop(df1.index[2], 0)

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday

In [12]:
df1["Status"] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
df1["Whatever"] = ["A"]*10
df1

   Date  Visitors  BR    Country  Clicks        Day  Status Whatever
0     1      1500  20        USA      20    Tuesday       1        A
1     2       700  25         UK      35  Wednesday       2        A
2     3       900  15      India      37   Thursday       3        A
3     4       400  35        USA      12     Friday       4        A
4     5       500  14     Canada      35   Saturday       5        A
5     6       700  15      India      32     Sunday       6        A
6     7       600  20      India      37     Monday       7        A
7     8       700  16        USA      40    Tuesday       8        A
8     9      1200  27        USA      52  Wednesday       9        A
9    10      1400  32  Australia      57   Thursday      10        A

In [13]:
df1["Whatever"] = df1["Whatever"]+"A"
df1

   Date  Visitors  BR    Country  Clicks        Day  Status Whatever
0     1      1500  20        USA      20    Tuesday       1       AA
1     2       700  25         UK      35  Wednesday       2       AA
2     3       900  15      India      37   Thursday       3       AA
3     4       400  35        USA      12     Friday       4       AA
4     5       500  14     Canada      35   Saturday       5       AA
5     6       700  15      India      32     Sunday       6       AA
6     7       600  20      India      37     Monday       7       AA
7     8       700  16        USA      40    Tuesday       8       AA
8     9      1200  27        USA      52  Wednesday       9       AA
9    10      1400  32  Australia      57   Thursday      10       AA

In [14]:
# to add row, transpose, add columna and transpose back
df2 = df1.T
df2

,0,1,2,3,4,5,6,7,8,9
Date,1,2,3,4,5,6,7,8,9,10
Visitors,1500,700,900,400,500,700,600,700,1200,1400
BR,20,25,15,35,14,15,20,16,27,32
Country,USA,UK,India,USA,Canada,India,India,USA,USA,Australia
Clicks,20,35,37,12,35,32,37,40,52,57
Day,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Monday,Tuesday,Wednesday,Thursday
Status,1,2,3,4,5,6,7,8,9,10
Whatever,AA,AA,AA,AA,AA,AA,AA,AA,AA,AA

In [15]:
df2["10"] = [11, 1200, 23, "US", 36, "noday", ]

ValueError: Length of values does not match length of index